.page {
  --_padding: 1rem;

  .page__header {
    border-bottom: 1px solid lightgray;
    background: var(--clr-white);
    position: sticky;
    z-index: 1;
    top: 0;

    .page__navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      vertical-align: middle;
      height: 70px;

      .nav-cart {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
        }

        small {
          display: flex;
          gap: 3px;
        }
      }
    }
  }

  .page__body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: var(--_padding);
    overflow: auto;
  }
}

.layout {
  display: grid;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}
