.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .cart-s-wrapper {
    border: 1px solid var(--clr-gray);
    padding-inline: var(--_padding);
  }

  .cart-checkout {
    padding: var(--_padding);

    button {
      width: 100%;
    }
  }
}
