.cart {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: grid;
  padding-inline-end: 0.5rem;
  grid-template-columns: 80px 1fr 10ch;
  border: 1px solid var(--clr-gray);

  .total-price {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;

    font-size: 1.2rem;
    font-weight: 400;
  }

  .cart-item__price {
    .weight {
      display: flex;
      gap: 0.5rem;

      img {
        width: 1rem;
      }
    }
  }

  .cart-item__actions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 0.5rem;
    padding-block-start: 0.5rem;

    button {
      width: 1.5rem;
    }
  }
}


